<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<property name="LOG_PATTERN"
		value="[%thread] %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n" />
		
	<property name="FILE_LOG_PATTERN"
		value="[%thread] %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n" />
	
	<property name="APP_LOG_ROOT" value="c:/temp/log" />
	<property name="LOG_FILE"
		value="${APP_LOG_ROOT}/batchLog.log" />
		
	<property name="ROLLING_FILE_NAME_PATTERN"
		value="${APP_LOG_ROOT}/archived/batchLog-%d{yyyy-MM-dd}.%i.log" />
<!-- appenders -->	
	<appender name="console"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${LOG_PATTERN}</pattern>
		</encoder>
	</appender>
	
	<include resource="org/springframework/boot/logging/logback/file-appender.xml" />
	
	<appender name="CONSOLE_FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<file>${APP_LOG_ROOT}/console.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<cleanHistoryOnStart>false</cleanHistoryOnStart>
			<fileNamePattern>${APP_LOG_ROOT}/archived/console-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<maxFileSize>10MB</maxFileSize>
			<maxHistory>7</maxHistory>
			<totalSizeCap>0</totalSizeCap>
		</rollingPolicy>
	</appender>
	
	<logger name="com.homepick.admin" level="error"
		additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="console" />
	</logger>

	<root level="debug">
		<appender-ref ref="console" />
		<appender-ref ref="CONSOLE_FILE" />
	</root>

</configuration>